includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
    -
        class: PHPStan\Rules\Cast\UselessCastRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
        tags:
            - phpstan.rules.rule

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Return type of call to method PHPUnit\\Framework\\TestCase\:\:createPartialMock\(\) contains unresolvable type.#'
    parallel:
        maximumNumberOfProcesses: 4

    level: 9

    checkMissingIterableValueType: true
