includes:
#    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

services:
    -
        class: PHPStan\Rules\Cast\UselessCastRule
        arguments:
            treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
        tags:
            - phpstan.rules.rule

parameters:
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Function config_path not found\.#'
        - '#Function config not found\.#'
    parallel:
        maximumNumberOfProcesses: 4

    level: 9

    checkMissingIterableValueType: true
